body {
    margin: 40px;
    background-color: #30343F;
    font-family: Outfit;
}
/*Navbar Section*/
.navbar-brand{
    font-weight: 900;
}
.navbar-nav{
    text-align: center;
    font-size: 14px;
}
.log{
    width:100%;
    border-radius: 50px;
    background: linear-gradient(90deg, #FDDC2D 0%, #FB3AB9 100%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.collapse{
    background-color: #30343F;
}
/*Form login*/
.login{
    padding: 20px;
    max-width: 100%;
}
.modal-body{
padding: 0;
background-color: #ffE4F3;
border-radius: 10px;
}
.modal-content {
width: 80%;
margin: 0 auto;
}
.btn-close {
position: absolute;
right: 0;
padding: 1em;
}
.form-control{
border:0;
border-radius: 0;
border-bottom: #30343F solid 2px;
background-color: inherit;
}
.form-control:focus {
background-color: #ffE4F3;
box-shadow: inset 0 -1px 0 #ffE4F3;
}
.login .btnLogin {
width: 100%;
font-weight: 800;
background-color: #FB3AB9;
border-radius: 0;
padding: 0.5em 0;
}
.login .btnLogin:hover {
background-color: inherit;
color: #FB3AB9;
}
.NOM{
text-align: center;
padding-top: 2em;
color: grey;
}
.NOM a {
color: #FB3AB9;
text-decoration: none;
}
.NOM a:hover {
color: blue;
}
/*Form register*/
.register{
font-family: outfit;
}
.signUp_lbl{
margin-top: 20px;
}
.Question{
    text-align: center;
}
.btn.btn-outline-primary {
color: black; 
}
.info .row{
margin-top: 30px;
padding:20px;
}
.btnCreate{
padding: 10px;
text-decoration: none;
border-radius: 5px;
background-color: #FF007F;
margin-bottom: 15px;
}
.haveAcc{
cursor: pointer;
}
.btn-group{
    margin-bottom: 10px;
}
 
/*Progbar*/
#Progbar{
    padding: 5%;
}
#form{
    padding: 5%;
}
.title{
    color: #F20089;
}
.progress{
    border-radius: 10px;
}
.pgb{
    background-color: #F20089;
}

/*Tutorials*/
#findtutorials{
    padding:3%;
    height: auto;
    width: auto;
    background: #595758;
}
mark{
    background-color: #F20089;
    border-radius: 5px;
}
.pic1{
    height: 50px;
    width: 50px;
}
.T_Details{
    color: white;
}

.btn-id:link, a:visited {
    background-color: #F20089;
    color: #595758;
    border: 2px solid white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
}
  
.btn-id:hover, a:active {
    background-color: white;
    color: #F20089;
}

.link:link, a:visited {
    background-color: #F20089;
    color: #595758;
    border: 2px solid white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
}

.link:hover, a:active {
  background-color: white;
  color: #F20089;
}

.box{
    width: 80%;
    height: 40%;
    background-color: #FFE4F3;
    padding: 50px;
    border-radius: 50px;
    color:black;
}